Django>=5.0
django-extensions
mysql-connector-python
pillow
pydotplus
reportlab
requests
twilio
python-dotenv
google-api-python-client==2.149.0
google-auth==2.35.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0